---
import type { Project } from "@/types/Project";
import ProjectImage from "./ProjectImage.astro";
import CallToActionButtons from "./CallToActionButtons.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import TicketStatus from "./TicketStatus.astro";
import DetailPopUpContent from "./DetailPopUpContent.tsx";
import CloseIcon from "@/components/icons/CloseIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  item: Project;
}

const { item } = Astro.props;
const { description, image, stack, title, demoUrl, codeUrl, status, details } = item;
const titleKey = title
  .toLowerCase()
  .trim()
  .replace(/\s+/g, "-")
  .replace(/[^\w\-]+/g, "");

const lengthSections = details?.sections?.length ?? 0;
const hasDetails = lengthSections > 0;

const markdowns = import.meta.glob("/src/components/projects/markdown/**/*.md", {
  query: "?raw",
  import: "default",
  eager: true,
});

const sections = details?.sections.map((s) => {
  const contentPath = t(s.markdownPath);
  return {
    label: t(s.label),
    content: markdowns[contentPath] as string,
  };
});
---

<div class="relative group grid grid-rows-[auto_1fr] max-w-100 rounded-3xl overflow-hidden bg-white/10 hover:animate-lift">
  <TicketStatus status={status} />
  <ProjectImage hasDetails={hasDetails} titleKey={titleKey} alt={title} image={image} />
  {
    hasDetails && (
      <div id={titleKey} popover>
        <div class="fixed inset-0 bg-black/80 flex items-center justify-center p-4">
          <div
            class="  flex flex-col bg-primary 
      rounded-lg shadow-lg  w-full max-w-4xl 
      max-h-[90dvh] 
      overflow-y-auto 
      items-center
      md:p-4
      p-2"
          >
            <button popovertarget={titleKey} popovertargetaction="hide" class="self-end font-extrabold text-white mt-2">
              <CloseIcon class="size-5" />
            </button>
            <DetailPopUpContent sections={sections!} images={details!.images} client:visible />
          </div>
        </div>
      </div>
    )
  }

  <div class="p-6 flex flex-col justify-start">
    <h2 class="text-xl font-semibold mb-2 text-white">{t(title)}</h2>
    <p class="text-neutral-300 text-sm mb-4 line-clamp-3">{t(description)}</p>
    <ul class="flex flex-wrap gap-2 text-xs xs:text-sm">
      {
        stack.map(({ Icon, title }) => (
          <li class="flex items-center gap-2 px-3 py-1 rounded-full text-white font-medium bg-white/10 hover:bg-white/20 border-white/10 hover:animate-lift-soft no-select">
            <Icon class="size-4 xs:size-5" /> {title}
          </li>
        ))
      }
    </ul>
    <CallToActionButtons codeUrl={codeUrl} demoUrl={demoUrl} />
  </div>
</div>
