---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  position?: string;
  size?: string;
  Icon: AstroComponentFactory;
  tooltip: string;
  url: string;
}

const getRandomDelay = () => Math.floor(Math.random() * 1000);

const {
  position = "top-10 left-10",
  size = "size-8",
  Icon,
  url,
  tooltip,
} = Astro.props;
const delay = getRandomDelay();
---

<a
  href={url}
  target="_blank"
  class={`group absolute ${position} aspect-square rounded-full bg-white align-middle p-3 
        cursor-pointer animate-float transition-transform duration-300 hover:scale-115 z-10 hover:z-40`}
  style={{
    animationDelay: `${delay}ms`,
  }}
>
  <Icon class={`${size} text-primary`} />
  <span class="floating-orbs-tooltip">{tooltip}</span>
</a>
